# Development files
dev/

# macOS
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/
.history/
*.vsix

# JetBrains IDEs
.idea/

# Python bytecode
__pycache__/
*.py[cod]

# C extensions
*.so

# Packaging and distribution
build/
dist/
*.egg-info/

# Environments
.venv/
.env
.env.*

# Testing and coverage
.pytest_cache/
.coverage*
htmlcov/

# Linters
# TBA

# Quarto
# docs/ has its own .gitignore

# Jupyter
.ipynb_checkpoints/

# PyPI
.pypirc

# Misc
*.log
